@model Biluthyrning.Models.CarCategory

@{
    ViewData["Title"] = "Details";
}

<div class="card mt-3 bg-white bg-opacity-75" style="padding:2em; border-radius:2em;">
    <h1>Details</h1>
    <div class="row">
        <h4>CarCategory</h4>
        <hr />
        <div class="col-5">
            <dl class="row card-body">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
        </div>
        <div class="col-7">
            <h5>Bilar</h5>
            <div class="row">
                @foreach (var item in Model.Cars)
                {
                    <div class="col-md-6" style="color:black">
                        <div class="card cardHover shadow mt-3 bg-white bg-opacity-75" style="border-radius: 2em">
                            <img class="card-img-top" style="border-radius: 2em" src="~/bubbla.jpg" alt="bubbla">
                            <div class="card-body card-header">
                                <h4 class="card-title text-center">@item.Model</h4>
                            </div>
                            <dl class="row card-body">
                                <dd class="col-sm-6">
                                    <p>Model:</p>
                                    <p>Brand:</p>
                                    <p>Color:</p>
                                </dd>
                                <dd class="col-sm-6">
                                    <p>@item.Model</p>
                                    <p>@item.Brand</p>
                                    <p>@item.Color</p>
                                </dd>
                            </dl>
                            <div class="card-body">
                                <a class="stretched-link" asp-controller="Cars" asp-action="Details" asp-route-id="@item.CarId"></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div>
        @if(ViewBag.UserType == "Admin")
        {
            <p style="display:inline">
            <a class="btn btn-primary mt-2 btn-sm rounded" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> 
            </p>
        }
        <a class="btn btn-primary mt-2 btn-sm rounded" asp-action="Index">Back to List</a>
    </div>
</div>