@model IEnumerable<Biluthyrning.Models.CarCategory>

@{
    ViewData["Title"] = "Index";
}
<div class="row mt-3">
    <div class="card shadow-lg mt-1 px-2" style="border-radius:2em; background-color: rgba(255, 254, 254, 0.800);">
        <div class="d-flex justify-content-between align-items-end w-100">
            <h1 class="mt-2 text-center align-self-md-center" style=" text-align:center; padding-top: 10px;">Category <i class="bi bi-stack"></i></h1>
            <h6 class="mt-1 bg-grey bg-opacity-75" style="border-radius: 1em; padding: 0.5em;">
                <form method="get" action="@Url.Action("index")">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control rounded m-1" placeholder="Search by Category" value="@ViewBag.SearchedCategory" aria-label="Search"/>
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary rounded" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </div>
                </form>
            </h6>
            @if (ViewBag.UserType == "Admin")
            {
                <p>
                    <a class="btn btn-success btn-sm rounded" asp-action="Create">Create New Category</a>
                </p>
            }
        </div>
        <div class="mb-3 bg-white bg-opacity-75" style="border-radius: 2em; padding:2em;">
            <p>
                This page will show you all the categorys a car can belong to. To view more information click on the details button.
            </p>
        </div>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4">
            <div class="card mt-3 shadow bg-white bg-opacity-75" style="border-radius: 2em">
                <img class="card-img-top" style="border-radius: 2em" src="/bubbla.jpg" alt="bubbla">
                <div class="card-body card-header">
                    <h4 class="card-title text-center">@item.Name</h4>
                </div>
                <dl class="row card-body">
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(modelItem => item.Name)
                </dd>
                </dl>
                <div class="card-body">
                    <a class="btn btn-primary btn-sm rounded" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        @if(ViewBag.UserType == "Admin")
                        {
                            <p style="display:inline">
                                <a class="btn btn-primary btn-sm rounded" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-danger btn-sm rounded" asp-action="Delete" asp-route-id="@item.Id">Delete <i class="bi bi-trash-fill"></i></a>
                            </p>
                        }
                </div>
            </div>
        </div>
    }
</div>