@model Biluthyrning.ViewModels.BookingViewModel
@{
}

<div class="row justify-content-center">
    <div class="w-50 card shadow-lg mt-3 px-3" style="padding: 2em; border-radius:2em; background-color: rgba(255, 254, 254, 0.800);">
        <h1>Step 3</h1>
        <h4>Confirm choices</h4>
        <hr />
        <div class="row">
            <div class="col">
                <h5>From :@Model.StartDate.ToShortDateString() to: @Model.EndDate.ToShortDateString()</h5>
                @if (ViewBag.UserType == "Admin")
                {
                    <h5>User: @Model.UserName</h5>
                }
                <h5>Brand: @Model.CarBrand</h5>
                <h5>Model: @Model.CarModel</h5>
                <h5>Total cost: @Model.TotalCost kr</h5>
            </div>
        </div>
        <form asp-action="Create">
            <input type="hidden" asp-for="UserId" value="@Model.UserId" />
            <input type="hidden" asp-for="CarId" value="@Model.CarId" />
            <input type="hidden" asp-for="StartDate" value="@Model.StartDate" />
            <input type="hidden" asp-for="EndDate" value="@Model.EndDate" />
            <button class="btn btn-success btn-sm rounded" type="submit">Confirm booking</button>
        </form>
        <div>
            <div>
                <a class="btn btn-primary btn-sm rounded mt-2" asp-action="SetDates">Back</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
