@model Biluthyrning.Models.Booking

@{
    ViewData["Title"] = "Delete";
}

<div class="row justify-content-center">
    <div class="card w-50 mt-3 bg-white bg-opacity-75" style="padding:10px; border-radius:2em; padding:2em;">
        <h1>Delete</h1>
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Booking</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.CarId)
                </dt>
                <dd class="col-sm-7">
                    @Html.DisplayFor(model => model.CarId)
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>
                <dd class="col-sm-7">
                     @Model.StartDate.ToString("g")
                </dd>
                <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>
                <dd class="col-sm-7">
                    @Model.EndDate.ToString("g")
                </dd>
                @if(ViewBag.UserType == "Admin")
                {
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.UserId)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.UserId)
                    </dd>
                }
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger btn-sm rounded" />
                <a class="btn btn-primary btn-sm rounded" asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>