@model Biluthyrning.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row justify-content-center">
    <div class="w-50 card shadow-lg mt-3 px-3" style="padding: 2em; border-radius:2em; background-color: rgba(255, 254, 254, 0.800);">

        <h1>Details</h1>
        <h4>Booking</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.CarId)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.CarId)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.CarModel)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.CarModel)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.CarBrand)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.CarBrand)
            </dd>
            <dt class="col-sm-5">
                Car Category
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.CarCategoryName)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            <dd class="col-sm-7">
                @Model.StartDate.ToString("g")
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class="col-sm-7">
                @Model.EndDate.ToString("g")
            </dd>
            @if (ViewBag.UserType == "Admin")
            {
                <dt class="col-sm-5">
                    Username
                </dt>
                <dd class="col-sm-7">
                    <a asp-controller="Users" asp-action="Details" asp-route-id="@Model?.UserId">@Model.UserName</a>                    
                </dd>
            }
        </dl>
        <div>
            <a class="btn btn-primary mt-2 btn-sm rounded" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            <a class="btn btn-primary mt-2 btn-sm rounded" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
