@model List<Biluthyrning.ViewModels.BookingViewModel>

@{
    ViewData["Title"] = "Index";
}

@if(ViewBag.UserType == "Admin")
{
    <div class="row m-3">
        <div class="col">
            <div class="card shadow-lg mt-3 px-3" style="border-radius:2em; background-color: rgba(255, 254, 254, 0.800);">
                <h1 class="mt-2" style=" text-align:center; padding-top: 10px;">Bookings</h1>
                <h6 class="card mt-3 bg-white bg-opacity-75" style="border-radius: 2em; padding:2em;">
                    <form method="get" action="@Url.Action("Index")">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control rounded m-1" placeholder="Search by username" value="@ViewBag.SearchUser" aria-label="Search" />
                            <button class="btn btn-outline-primary rounded" type="submit">Search</button>
                        </div>
                    </form>
                </h6>
                <p>               
                    <a class="btn btn-success btn-sm rounded" asp-action="SetDates">Create New Booking</a>
                </p>
            </div>
        </div>
    </div>
}
else if(ViewBag.UserType == "User")
{
    <h1 class="mt-2" style="color: white;"> Your Bookings</h1>
    <p>
        <a class="btn btn-success btn-sm rounded" asp-action="SetDates">Create New Booking</a>
    </p>
}
else
{
    <h1 class="mt-2" style="color: white;">Bookings</h1>
    <h1 class="text-center" style="color:white">Login to view contents.</h1>

}

<div class="row">
    @foreach (var item in Model)
    {
        @if (ViewBag.UserType == "Admin" || item.UserId == Convert.ToInt32(ViewData["CurrentUserId"]))
        {

            <div class="col-lg-4">
                <div class="card m-3 shadow bg-white bg-opacity-75" style="border-radius: 2em;">
                    <img class="card-img-top" style="border-radius: 2em" src="~/bubbla.jpg" alt="bubbla">
                    <div class="card-body card-header">
                        <h4 class="card-title text-center">@item.CarModel</h4>
                    </div>

                    <dl class="row card-body">
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => item.CarId)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => item.CarId)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => item.CarBrand)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => item.CarBrand)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => item.UserName)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => item.UserName)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => item.StartDate)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => item.StartDate)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => item.EndDate)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => item.EndDate)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => item.TotalCost)
                        </dt>
                        <dd class="col-sm-7">
                            @Html.DisplayFor(model => item.TotalCost)
                        </dd>
                    </dl>

                    <div class="card-body">
                        <a class="btn btn-primary btn-sm rounded" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-primary btn-sm rounded" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger btn-sm rounded" asp-action="Delete" asp-route-id="@item.Id">Delete <i class="bi bi-trash-fill"></i></a>
                    </div>
                </div>
            </div>
        }
    }

</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].CarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CarBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CarCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
