@model List<Biluthyrning.ViewModels.BookingViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New Booking</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-l-4">
            <div class="card m-3 shadow" style="border-radius: 2em">
                <img class="card-img-top" style="border-radius: 2em"src="~/bubbla.jpg" alt="bubbla">
                <div class="card-body card-header">
                    <h4 class="card-title text-center">@item.CarModel</h4>
                </div>
                <dl class="row card-body">
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => item.CarId)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => item.CarId)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => item.CarBrand)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => item.CarBrand)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => item.UserName)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => item.UserName)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => item.StartDate)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => item.StartDate)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => item.EndDate)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => item.EndDate)
                    </dd>
                </dl>
                <div class="card-body">
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        </div>
    }

</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].CarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CarBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CarCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@
