@model IEnumerable<Biluthyrning.Models.User>

@{
    ViewData["Title"] = "Index";
    var admin = "Admin";
}

@if (ViewBag.UserType == admin)
{
    <div class="row mt-3">
        <div class="col">
            <div class="card shadow-lg mt-3 px-3" style="border-radius:2em; background-color: rgba(255, 254, 254, 0.800);">
                <h1 class="mt-2" style=" text-align:center; padding-top: 10px;">Users</h1>
                <h6 class="card mt-3 bg-white bg-opacity-75" style="border-radius: 2em; padding:2em;">
                    <form method="get" action="@Url.Action("Index")">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control rounded m-1" placeholder="Search by username" value="@ViewBag.SearchUser" aria-label="Search" />
                            <button class="btn btn-outline-primary rounded " type="submit">Search</button>
                        </div>
                    </form>
                </h6>
                <p>
                    <a class="btn btn-success btn-sm rounded" asp-action="Create">Create New User</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card shadow mt-3 bg-white bg-opacity-75" style="border-radius: 2em">
                    <img class="card-img-top" style="border-radius: 2em" src="~/bubbla.jpg" alt="bubbla">
                    <div class="card-body card-header">
                        <h4 class="card-title text-center">@item.UserName</h4>
                    </div>
                    <dl class="row card-body">
                        <dt class="col-sm-5">
                            <p>Username: </p>
                            <p>@item.UserName</p>
                        </dt>
                        <dt class="col-sm-5">
                            <p>Password: </p>
                            <p>@item.Password</p>
                        </dt>
                        <dt class="col-sm-5">
                            <p>Email: </p>
                            <p>@item.Email</p>
                        </dt>
                        <dt class="col-sm-5">
                            <p>Phone: </p>
                            <p>@item.PhoneNr</p>
                        </dt>
                    </dl>
                    <div class="card-body">
                        <a class="btn btn-primary btn-sm rounded" asp-action="Edit" asp-route-id="@item.UserId">Edit</a>
                        <a class="btn btn-primary btn-sm rounded" asp-action="Details" asp-route-id="@item.UserId">Details</a>
                        <a class="btn btn-danger btn-sm rounded" asp-action="Delete" asp-route-id="@item.UserId">
                            Delete <i class="bi bi-trash-fill"></i>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else if (ViewBag.UserType == "User")
{
    @foreach (var item in Model)
    {
        <div class="row mt-3 justify-content-center">
            @if (item.UserId == Convert.ToInt32(ViewData["CurrentUserId"]))
            {
                <div class="col-lg-6">
                    <div class="card bg-white bg-opacity-75 w-75" style="border-radius:2em; padding:2em;">
                        <div class="row">
                            <div class="col">
                                <h1 class="text-center">Welcome @item.UserName!</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <a class="btn btn-success btn-sm rounded m-3 w-50" asp-controller="Bookings" asp-action="SetDates">Rent a car!</a>
                                <a class="btn btn-primary btn-sm rounded m-3 w-50" asp-controller="Cars" asp-action="Index">View cars in inventory</a>

                                <a class="btn btn-primary btn-sm rounded m-3 w-50" asp-action="Details" asp-route-id="@item.UserId">View current bookings</a>
                                <a class="btn btn-primary btn-sm rounded m-3 w-50" asp-action="Edit" asp-route-id="@item.UserId">Settings</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card bg-white bg-opacity-75 w-75" style="border-radius:2em; padding:2em;">
                        <div class="row">
                            <div class="col">
                                <h1 class="text-center">Information</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <p>
                                    Welcome!
                                    <br>
                                    Here you can see your information. Quick access to rent a car, view your current
                                    and previous bookings.
                                    <br>
                                    <br>
                                    The data we store on your profile is used to improve your experience with us. We hope you
                                    have a wonderful time here at AJJT biluthyrning.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}
else
{
    <div class="row mt-3 justify-content-center">
        <div class="col">
                <div class="card bg-white bg-opacity-75" style="border-radius:2em; padding:2em;">
                    <h1>Welcome. Please create an account.</h1>
                    <p>
                        <a class="btn btn-success w-100 rounded" asp-action="Create">Create New</a>
                    </p>
                </div>
        </div>
    </div>
}
