@model IEnumerable<Biluthyrning.Models.User>

@{
    ViewData["Title"] = "Index";
}
<div class="bg-dark containerOskar" style="padding:10px; color:white;">
    <h1>Index</h1>

    <h6>
        Search by username:
        @using (Html.BeginForm())
        {
            @Html.TextBox("search") <input class="btn btn-primary" type="submit" value="Search" />
        }
    </h6>

    <p>
        <a class="btn btn-success w-100" asp-action="Create">Create New</a>
    </p>
    <table class="table" style="color:white">
        <thead>
            <tr>
                <th>
                    <p>Username</p>
                </th>
                <th>
                    <p>Password</p>
                </th>
                <th>
                    <p>Admin</p>

                </th>
                <th>
                    <p>Actions</p>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsAdmin)
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
