@model Biluthyrning.Models.Car

@{
    ViewData["Title"] = "Details";
}
<div class="row justify-content-center">
    <div class="card shadow bg-white bg-opacity-75 mt-3 w-50" style="padding:2em; border-radius:2em;">
        <img class="card-img-top" style="border-radius: 2em" src="~/bubbla.jpg" alt="bubbla">
        <h1 class="mt-2">Details</h1>
        <h4>Car</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Model)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Brand)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Color)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Amount) kr
            </dd>
            
        </dl>           
        @if (ViewBag.UserType == "Admin")
        {
             <a class="btn btn-primary mt-2 btn-sm rounded"  asp-action="Edit" asp-route-id="@Model?.CarId">Edit</a>        
        }
        <a class="btn btn-primary mt-2 btn-sm rounded" asp-action="Index">Back to List</a>
       
    </div>
</div>

@*
<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CarId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@