@model IEnumerable<Biluthyrning.Models.Car>

@{
    ViewData["Title"] = "Index";
}
<div class="bgstyle">

<h1 style="padding-top:40px; text-align:center;"> Cars</h1>

<p>
        <a class="btn btn-success btn-sm rounded " asp-action="Create">Add new car</a>
</p>
<table class="table table-hover ">
    <thead>
            <tr class="table" style="color:aliceblue">
            <th >
                    <h4 > @Html.DisplayNameFor(model => model.Model)</h4>
            </th>
            <th>
                <h4> @Html.DisplayNameFor(model => model.Brand) </h4>
            </th>
            <th >
                <h4> @Html.DisplayNameFor(model => model.Color) </h4>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody >
@foreach (var item in Model) {
                <tr @*class="table-light background-color: rgba(175, 175, 175, 0.1);"*@>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                    <a class="btn btn-dark btn-sm rounded" asp-action="Edit" asp-route-id="@item.CarId">Edit</a>
                    <a class="btn btn-info btn-sm rounded" asp-action="Details" asp-route-id="@item.CarId">Details</a>
                    <a class="btn btn-danger btn-sm rounded" asp-action="Delete" asp-route-id="@item.CarId">
                        Delete <i class="bi bi-trash-fill"></i>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>
